body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}


.logo-config {
	max-height: 70px;
}

.logo-footer {
	max-height: 50px !important;
	padding: 0 15%;
}

.btn-config {
	display: inline;
	position: absolute;
	top: 0%;
	left: 100%;
}

/* Index */
.select-config {
	border-radius: 25px !important;
	color: #f5f5f1;
	background-color: #717171;
	max-width: 380px;
}


.please-scroll-down {
    position: absolute;
    display: block !important;
    bottom: 5%;
    left: 45%;
    background: url(../img/Modelo/seta-descer-minha.png) no-repeat center center;
    width: 60px;
	height: 60px;
	scroll-behavior: smooth;
	
    animation: pleaseScrollDown ease-in-out 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    outline: none;
}

#descer{
	scroll-behavior: smooth;
}

@keyframes pleaseScrollDown {
    0% {
        transform: translate(0px, -7.5px);
    }

    50% {
        transform: translate(0px, 7.5px);
    }

    100% {
        transform: translate(0px, -7.5px);
    }
}

/* Dark Row */
.btn-search {
	border-radius: 25px !important;
	padding: 5px 30px !important;
	color: #f5f5f1;
	background-color: #3d3d3d;
	border: 1px solid #3d3d3d;
	margin-left: 10px;
}

.search-select {
	text-align: center;
	margin-top: 100px;
}

.dark-row {
	background-color: #717171;
	color: #3d3d3d;
	padding-top: 15px;
}

/* Elementos do carrossel */
.container-gallery{
	margin-top: 5%;
}

.card-carrossel {
	padding: 20px 0px;
	margin: 50px;

	background-color: #ebebeb;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.text-carrossel{
	text-align: center;
	top: 0%;

	margin-bottom: 10px;
}
.title-carrossel {
	color: #3d3d3d;
	font-weight: bold;
	font-size: 18px;

	margin: 0;
}
.text-carrossel > span{
	font-size: 14px;
}

.button-carrossel {
	text-align: center;
}

.btn-carrossel {
	color: #f5f5f1;
	font-weight: bold;
	border: 1px soli#3d3d3d;
	background: #3d3d3d;
	padding: 10px 30px;
	border-radius: 25px;
}

.btn-carrossel:hover {
	background: #ababab;
	border: 1px solid #ababab;
	color: #3d3d3d;
	transition: all 0.25s;
}

/* Area de contado */
.container-form{
	margin-top: 8%;
	margin-bottom: 8%;
}

.card-form{
	background-color:#ebebeb;
	border-radius: 3px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
	padding: 2px 20px;
}

.title-form{
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}

.teste-input-1{
	border-radius: 15px;
    border: none;
}

.btn-form{
	margin-bottom: 3%;
}

/* Status Loteamento */
.title-container-status{
	margin-bottom: 3%;
}
.card-status{
	background-color: #f5f5f1;
	border-radius: 5px;
	margin: 0 20px 0 0;
}

.gallery-status{
	margin-top: 4%;
}

.gallery-status-2{
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 10%;
}

div.config-slide-status{
	width: 100% !important;
	margin: 5px 5px !important;
}

img.img-status{
	max-width: 40px;
	margin: 8px 0 0 5px;
}

h5.title-status{
	margin: 5% 0 1% 2%;
	padding: 0%;
}

p.descri-status{
	text-align: justify;
	margin: 1% 5% 0 5%;
}

div.swiper-pagination{
	display: flex;
	justify-content: center;
	left: 45% !important; 
	top: 92% !important;
}

.swiper-pagination-2{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}

.swiper-pagination-bullet{
	margin: 3px !important;
}
.swiper-pagination-bullet-active{
	background-color: #363636 !important;
}

#frame{
	width: 100%;
	height: 100%;

}

/* #menu{
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.7) !important;
	background: rgba(255, 255,255, 0.15) !important;
} */


.home-img{
left: 0;
top: 0;
width: 100%;
max-height: 600px;
}

.home-body{
	padding: 0;
	margin: 0;
}

.home-config{
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}

.nav-config{
	border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(45px);
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
	height: 70px;
    z-index: 1030;
}

@media (max-width: 991px) {

	.search-center {
		display: flex;
		justify-content: center;

	}

	.btn-search {
		display: block;
		border-radius: 25px !important;
		padding: 3px 12px !important;
		color: #f5f5f1;
		background-color: #3d3d3d;
		border: 1px solid #3d3d3d;
		margin-left: 5%;
	}

	.col-footer {
		display: flexbox;
		text-align: center;
	}

	.row-status-order{
		display: flex;
		flex-direction: column;

	}

	.c-title{
		order: 2;
	}
	.c-icon{
		order: 1;
	}
	.c-text{
		order: 3;
	}
}

